.card {
    /* Add shadows to create the "card" effect */
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    height: auto;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.icon-bar {
    width: 60px; /* Set a specific width */
    background-color: #42A5F5; /* Dark-grey background */
    display: inline-block;
    float: left;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #80CBC4; /* Add a hover color */
}

.active {
    background-color: #00897B; /* Add an active/current color */
}

body{
    background: #FFF9C4;
}

#Menu{
  align-items: flex-end;
    width: 60px;
}

#content{
    margin-left: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
